/*landing*/
.landing{
	display:  flex;
	justify-content:  flex-end;
	align-items: flex-end;
	padding-right: 1rem;
	color: #2F2F32;
	background-image: url('sample.jpg');
	height :40vh;
	background-attachment: fixed;
	background-position: center;
}